body {

    background-color: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
    color: #1E2225;
    font-size: 1vw;
}

.mainpage {
    background: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    text-align: center;
    height: 100vh;

}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
}


.navbar {
    min-height: 57px;
}

.bg {
    background-color: #2F3336 !important;
}

.add_account {
    list-style: none;
    font-size: 10px;
    padding-top: 10px;

}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2F3336;
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer a:link {
    text-decoration: none;
    color: white;
}

.footer a:visited {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: underline;
    color: white;
}

.footer a:active {
    text-decoration: underline;
    color: white;

}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
}

.contentInside {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.addUserForm {
    display: block;
    text-align: center;
    height: 100vh;
    background-color: #F2F2F2;
}

.addUser {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
}

.addUser a:link {
    text-decoration: none;
    color: white;
}

.addUser a:visited {
    text-decoration: none;
    color: white;
}

.addUser a:hover {
    text-decoration: underline;
    color: white;
}

.addUser a:active {
    text-decoration: underline;
    color: white;
}

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.heading.heading-icon {
    display: block;
}

.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}

.practice-area .inner {
    border: 1px solid #999999;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
}

.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
}

.practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.practice-area .inner h3 {

    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}

.practice-area .inner img {
    display: inline-block;
}

.our-webcoderskull {
    background-color: #F2F2F2;
    height: 100vh;
}

.our-webcoderskull .cnt-block {
    float: left;
    width: 100%;

   /* background: #6c757d;
   */ padding: 30px 20px;
    text-align: center;
    border: 2px solid #d5d5d5;
    margin: 0 0 28px;
}

.our-webcoderskull .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.our-webcoderskull .cnt-block img {
   border-radius: 100%;
}

.our-webcoderskull .cnt-block h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
}

.our-webcoderskull .cnt-block h3 a {
    text-decoration: none;
    color: #2a2a2a;
}

.our-webcoderskull .cnt-block h3 a:hover {
    color: #337ab7;
}

.our-webcoderskull .cnt-block p {
    color: #2a2a2a;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.our-webcoderskull .cnt-block .follow-us {
    margin: 20px 0 0;
}

.our-webcoderskull .cnt-block .follow-us li {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}

.our-webcoderskull .cnt-block .follow-us li .fa {
    font-size: 24px;
    color: #767676;
}

.our-webcoderskull .cnt-block .follow-us li .fa:hover {
    color: #025a8e;
}

.editUser a:link {
    text-decoration: none;
    color: white;
}

.editUser a:visited {
    text-decoration: none;
    color: white;
}

.editUser a:hover {
    text-decoration: underline;
    color: white;
}

.editUser a:active {
    text-decoration: underline;
    color: white;
}

.listofitemps {
    color: #1E2225;
}

.listofitemps a {
    text-decoration: none;
    color: #1E2225;
}

.no-spin, .no-spin:hover, no-spin:focus {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

#timeOfStat {
    font-size: 10px;
    color: #6c757d;
    align-items: end;
}