<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                               http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Biblioteka</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>app/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUserToEditServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.GetUserToEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUserToEditServlet</servlet-name>
        <url-pattern>app/GetUserToEditServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>app/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectUserServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.SelectUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectUserServlet</servlet-name>
        <url-pattern>app/SelectUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserBasketServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.UserBasketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserBasketServlet</servlet-name>
        <url-pattern>app/UserBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveBasketServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.SaveBasketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveBasketServlet</servlet-name>
        <url-pattern>app/SaveBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>app/AddUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindUserServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.FindUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FindUserServlet</servlet-name>
        <url-pattern>app/FindUserServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.AddBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>app/AddBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OperationCancelServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.OperationCancelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OperationCancelServlet</servlet-name>
        <url-pattern>app/OperationCancelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveItemFromBasketServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.RemoveItemFromBasketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveItemFromBasketServlet</servlet-name>
        <url-pattern>app/RemoveItemFromBasketServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.ReturnBookServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>app/ReturnBookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefreshStatsServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.RefreshStatsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RefreshStatsServlet</servlet-name>
        <url-pattern>app/RefreshStatsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAttributesUserRepository</servlet-name>
        <servlet-class>com.infoshare.servlets.GetAttributesUserRepository</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAttributesUserRepository</servlet-name>
        <url-pattern>app/GetAttributesUserRepository</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAttributeBookRepository</servlet-name>
        <servlet-class>com.infoshare.servlets.GetAttributeBookRepository</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAttributeBookRepository</servlet-name>
        <url-pattern>app/GetAttributeBookRepository</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAttributeUserOperationRepository</servlet-name>
        <servlet-class>com.infoshare.servlets.GetAttributeUserOperationRepository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAttributeUserOperationRepository</servlet-name>
        <url-pattern>app/GetAttributeUserOperationRepository</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>com.infoshare.servlets.EditAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>app/EditAccountServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>com.infoshare.filters.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.infoshare.filters.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
